body{
    background: url(backgound_test.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.register
{
width: 450px;
height: 550px;
box-sizing: border-box;
padding: 0 50px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: rgba(0,0,0,0.6);
}
.register img{
    width: 100px;
    height: 100px;
    left: 120px;
    position: relative;
bottom: 50px;
}
.register h1{
    margin: 0;
    padding: 20px 20px;
    color: #fff;
    text-align: center;

}
.register label{
    color: #fff;
    font-weight: bold;
}
.register input{
    margin: 10px 0;
    width: 100%;
}


.register input[type="text"],.register input[type="email"],.register input[type="password"]{
border: none;
outline: none;
height: 25px;
background: transparent;
border-bottom: 1px solid rgb(255, 255, 255);
color: #fff;
font-size: 16px;
transition: 0.5s ease;
}
.register input[type="submit"]
{
    border: none;
    outline: none;
    color: #ffffff;
    height: 40px;
    font-size: 20px;
    background:#bd9210 ;
    border-radius:14px;
    cursor: pointer;
    width: 80%;
    margin: 20px 35px;
    align-items: center;  
    margin-bottom: 30px;
  }
    .register input[type="submit"]:hover{
        transform :scale(1.1);
    }

    
    
    .register a{
        text-decoration: none;
        color:#ffffff;
        font-weight: bold;
        font-size: 22px;
       
    }

    .btn{
        margin-bottom: 40px;
        background-color: rgba(0, 0, 0,0.8) ;
        opacity: 0.8;
        padding: 8px !important;
        border-radius: 10px;

    }

    .register a:hover{
        background-color: #a35c05 ;
        border-radius:10px ;
    transform:translate(0.5s);
    }