        .mybtn {
            background-color: #0D6EFD;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        body {
            /* background-color: orange; */
            /* background-color: #1F1F1F;*/
        }

        .circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: block !important;
        }

        .weeks {
            width: 100px;
            height: 100px;
            background-color: lime;
            margin: 10px;
        }


        .week {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background-color: #0D6EFD;
            margin: 10px;
        }

        .main .child2 {
            color: red;
        }

        .color-violet {
            color: blueviolet;
        }

        .div1 {
            background-color: rgb(160, 23, 23);
            width: 100px;
            height: 200px;
            transition: transform .5s;
        }

        .div1:hover {
            background-color: #0D6EFD;
            transform: translateY(-30px);
            transform: rotate(90deg);
        }

        .square:focus {
            background-color: #00ff00;

        }